/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-color: white;
}

/* estilos de navbar */
header nav img {
  width: 80px;
}

.nav-item:hover {
  border-radius: 20px;
  background-color: rgba(138, 182, 71, 0.685);
}

.boton-uno {
  background-color: rgba(138, 182, 71, 0.685);
  border-radius: 20px;
  padding: 10px;
  width: 150px;
  border: none;
  color: white;
  font-size: 1rem;
}

.boton-uno:hover {
  cursor: pointer;
}

/*estilos de header*/
.caja-hero {
  background-image: url(/img/gimnasio.jpeg);
  background-color: #0f5c35;
  position: relative;
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info-hero {
  clip-path: polygon(0 0, 100% 0%, 0% 120%, 0 80%);
  width: 100%;
  height: 500px;
  background-color: rgb(71, 95, 36);
  padding: 2%;
  color: white;
}

.boton-dos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  width: 200px;
  padding: 15px;
  border-radius: 50px;
  border: none;
  margin-top: 50px;
}

.boton-dos img {
  height: 25px;
  width: 25px;
}

h2 {
  margin-top: 50px;
  margin-left: 2%;
  font-size: 4rem;
  color: white;
  font-weight: bolder;
}

.texto-uno {
  font-size: 1rem;
  color: white;
  margin-left: 60px;
  margin-top: 25px;
}

/* estilos de main */
.section-uno {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.titulo {
  font-weight: lighter;
  font-size: 1.2rem;
}

.subtitulo {
  margin-top: 20px;
}

.subtitulo-tres {
  margin-top: 20px;
}

.container-uno {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  width: 100%;
}

.ul {
  display: flex;
  flex-direction: column;
}

ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  font-size: 1.2rem;
}

.img-uno {
  border-radius: 20px;
  display: flex;
  justify-self: center;
  width: 70%;
}

ul li img {
  width: 50px;
}

.caja-dos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  width: 40%;
  margin-top: 10px;
}

.section-dos {
  background-color: #F5F4F8;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container {
  margin-top: 50px;
  height: 750px;
  width: 100%;
}

.img-dos {
  height: 750px;
  width: 100%;
  object-fit: cover;
}

.titulo-dos {
  font-weight: lighter;
  font-size: 1.2rem;
  margin-top: 50px;
}

.subtitulo-dos {
  margin-top: 20px;
}

.icono {
  margin-top: 50px;
}

h3 {
  margin-top: 50px;
  font-weight: 300;
}

.section-dos p {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.2rem;
}

.img-tres {
  width: 100%;
  max-width: 600px;
  border-radius: 30px;
}

/* estilos footer */
footer {
  margin-top: 50px;
}

.container-footer {
  background-color: #0f5c35;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

footer div p {
  font-size: 2rem;
  color: white;
}

.logo {
  width: 80px;
}

.iconos {
  gap: 30px;
  width: 50px;
}

.iconos:hover {
  transform: scale(1.1);
}

.container-iconos {
  display: flex;
  gap: 30px;
}

/* estilos de join us */
/* estilos header */
.container-titulo-page {
  background-color: #0f5c35;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main div h5 {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-right: 2%;
}

/* estilos de main */
.container-cajas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
  gap: 50px;
}

.container-cards {
  box-shadow: 0px 0px 5px gray;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  position: relative;
}

.card-title {
  color: #0f5c35;
  display: flex;
  align-items: center;
}

.container-cards p {
  color: #0f5c35;
  font-weight: 600;
}

.container-cards ul li {
  font-size: 15px;
  margin: 0;
  padding: 3%;
}

.tachado {
  text-decoration: line-through black;
  color: gray;
}

.container-cards button {
  color: white;
  background-color: rgb(173, 173, 58);
  border-radius: 20px;
  border: none;
  height: 40px;
  width: 150px;
  margin-top: 10px;
}

.popular {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
  background-color: crimson;
  border-radius: 20px;
  width: 70px;
  text-align: center;
}

#plus {
  background-color: bisque;
}

/* estilos de about us */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 50px;
  gap: 15px;
  height: 800px;
}

.caja1 {
  box-shadow: 0px 0px 5px gray;
  border-radius: 20px;
  display: flex;
  padding: 6%;
  width: 600px;
  height: 750px;
  grid-column: 1;
  grid-row: 1/3;
}

.caja1 p {
  font-size: 1rem;
  font-weight: 300;
}

.caja1 div p span {
  color: rgb(99, 151, 151);
}

.caja2 {
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px gray;
  border-radius: 20px;
  flex-direction: column;
  max-width: 600px;
  height: 500px;
  grid-column: 2;
  grid-row: 1;
}

.caja3 {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px gray;
  flex-direction: column;
  width: 600px;
  height: 200px;
  grid-column: 2;
  grid-row: 2;
  margin-bottom: 20px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form label {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 20px;
}

.form label input {
  padding: 2%;
  margin-top: 10px;
}

.form label textarea {
  padding: 2%;
  margin-top: 10px;
}

.caja2 p {
  color: #0f5c35;
  font-size: 1.2rem;
  text-align: center;
}

.caja2 button {
  background-color: rgba(138, 182, 71, 0.685);
  font-size: 1rem;
  margin-top: 30px;
  width: 200px;
  padding: 15px;
  border-radius: 50px;
}

.caja2 button:hover {
  cursor: pointer;
}

.caja3 p {
  color: #0f5c35;
  text-align: center;
  font-size: 1.2rem;
}

.caja3 div {
  box-shadow: 0px 0px 5px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-top: 20px;
  height: 100px;
  width: 400px;
  gap: 10px;
}

.caja3 div img {
  width: 50px;
}

.caja-img {
  background-color: #0f5c35;
  width: 100%;
  text-align: center;
  background-image: url(/img/plancha.avif);
  position: relative;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img-join {
  margin-top: 50px;
  width: 100%;
}

.info-caja {
  width: 100%;
  font-size: 2rem;
  padding: 2%;
}

.info-caja span {
  color: red;
}

.boton-tres {
  background-color: rgba(138, 182, 71, 0.685);
  font-size: 1rem;
  border: none;
  margin-top: 30px;
  width: 200px;
  padding: 1%;
  border-radius: 50px;
}

.boton-tres:hover {
  cursor: pointer;
}

/* estilos de mobile */
@media screen and (max-width: 414px) {
  /* estilos de index.html */
  .texto-uno {
    margin-left: 10px;
  }
  .info-hero h2 {
    font-size: medium;
  }
  .info-hero {
    width: 100%;
    background-color: rgb(71, 95, 36);
    color: white;
    padding: 2%;
    height: 500px;
    clip-path: polygon(0 0, 100% 0%, 200%, 0 80%);
  }
  .boton-dos {
    margin-top: 100px;
  }
  .texto-uno {
    margin-top: 100px;
  }
  .section-uno .subtitulo {
    font-size: x-large;
  }
  .subtitulo-tres {
    text-align: center;
  }
  .container-uno {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
  }
  .section-dos p {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
  }
  .img-tres {
    width: 70%;
    margin: 0 15%;
  }
  .caja-dos {
    width: 90%;
    margin: 0 5%;
  }
  .container-footer {
    padding: 4%;
  }
  .container-footer .logo {
    width: 50px;
  }
  .container-footer p {
    width: 175px;
    font-size: smaller;
    text-align: center;
  }
  .container-iconos {
    gap: 5px;
  }
  .container-footer img {
    width: 30px;
  }
  /* estilos de joinushtml */
  .container-cajas {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container-cajas {
    width: 100%;
  }
  .container-cards {
    width: 90%;
    height: 600px;
  }
  /* estilos aboutushtml */
  .container {
    display: flex;
    flex-direction: column;
  }
  .container .caja1 {
    width: 100%;
  }
  .container .caja2 {
    width: 100%;
  }
  .form label {
    width: 200px;
  }
  .form button {
    width: 200px;
    padding: 15px;
    margin-bottom: 20px;
  }
  .caja-img {
    margin-top: 600px;
    height: 200px;
  }
  .caja3 {
    width: 100%;
    margin-bottom: 75px;
  }
  .caja3 div {
    width: 80%;
    margin-bottom: 20px;
  }
  .info-caja h3 {
    font-size: 15px;
    font-weight: bolder;
    color: rgb(84, 187, 206);
  }
}
/* estilos de tablet */
@media screen and (min-width: 800px) and (max-width: 1000px) {
  /*estilos de index.html*/
  .info-hero h2 {
    font-size: 35px;
  }
  .info-hero {
    width: 100%;
    background-color: rgb(71, 95, 36);
    color: white;
    clip-path: polygon(0 0, 100% 0%, 200%, 0 80%);
    height: 500px;
    padding: 2%;
  }
  .boton-dos {
    width: 300px;
    font-size: 1.5rem;
  }
  .texto-uno {
    margin-left: 3%;
    font-size: 30px;
  }
  .section-uno .titulo {
    font-size: 3rem;
  }
  .section-uno .subtitulo {
    font-size: 2rem;
  }
  .img-uno {
    width: 80%;
  }
  .caja-dos ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .caja-dos ul li {
    font-size: 2rem;
    width: 450px;
  }
  .subtitulo-tres {
    font-size: 2rem;
    text-align: center;
  }
  .container-uno {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
  }
  .titulo-dos {
    font-size: 3rem;
  }
  .subtitulo-dos {
    font-size: 2rem;
  }
  .section-dos h3 {
    font-size: 2rem;
  }
  .section-dos p {
    font-size: 1.5rem;
    padding: 2%;
  }
  /* estilos de joinushtml */
  .container-cajas {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container-cajas {
    width: 100%;
  }
  .container-cards {
    width: 90%;
    height: 600px;
  }
  .container-cards ul li {
    font-size: 1.2rem;
  }
  /* estilos de aboutushtml */
  .container {
    width: 100%;
    gap: 15px;
  }
  .container .caja1 {
    width: 350px;
    padding: 8%;
  }
  .container .caja2 {
    width: 350px;
    padding: 10%;
  }
  .container .caja3 {
    width: 350px;
  }
  .form label {
    width: 300px;
  }
  .caja3 div {
    width: 300px;
    gap: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
