//variables
@use "../abstracts/variables" as *;

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body{
    background-color: $color-body;
}