//PALETA DE COLORES

$color-body: white;
$color-principal:  #0f5c35;
$color-button:  rgba(138, 182, 71, 0.685);
$color-secundario: rgb(71, 95, 36);
$color-section: #F5F4F8;
$color-cardsbtn:  rgb(173, 173, 58); 

